.auth-img {
  width: 50%;
  margin: 0 25%;
}
 
.login form {
  margin-top: 30px;
  margin-bottom: 32px;
}
 
.login form button {
  margin-top: 65px;
} 

.login {
  background-color: #009a88; 
}

.button p {
  color: #fff;
}

.item {
  background-color: #009a88; 
}

